APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

GOOGLE_APPLICATION_CREDENTIALS=/var/www/html/auth.json
GOOGLE_CLOUD_PROJECT=
GOOGLE_LOCATION=us-central1
GOOGLE_IMAGEN_MODEL=imagen-3.0-fast-generate-001

API_AUTH_TOKEN=
